@{
    ViewData["Title"] = "Comité de Asociados";
}

<div class="container my-5">
    <div class="row align-items-center" style="margin-bottom:15%">
        <div class="col-md-6">
            <img src="/images/comite.jpg" class="img-fluid rounded shadow custom-img-size" alt="Comité de Asociados">
        </div>
        <div style="margin-top:5%; margin-bottom:5%" class="col-md-6">
            <h2 class="fw-bold" style="color: #BAD535;">Forme parte de nuestra asamblea de asociados</h2>
            <p style="color: #4A4A42;">
                Únete a nuestra asamblea de asociados y trabaja por el bienestar de las personas adultas mayores.
            </p>
            <h4 style="color: #BAD535;">Requisitos:</h4>
            <ul class="list-group list-group-flush">
              
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-calendar-check me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Disponibilidad para participar en asambleas anuales.
                </li>
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-handshake me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Compromiso con los objetivos de la organización.
                </li>
             
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-user-plus me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Recomendación de un miembro actual de la junta directiva.
                </li>
            </ul>
            <p class="mt-4" style="color: #4A4A42;">
                Envía tu solicitud y documentos al correo:
                <a href="mailto:hogarjafethjimenez@gmail.com" class="text-decoration-none" style="color: #BAD535;">
                    hogarjafethjimenez@gmail.com
                </a>
            </p>
            <p style="color: #4A4A42;">¡Sé parte de las decisiones que transforman vidas!</p>
        </div>
    </div>
</div>

<style>
 

    .list-group-item {
        border: none; /* Elimina los bordes de los ítems */
    }

        .list-group-item i {
            font-size: 20px; /* Ajusta el tamaño del ícono */
        }
</style>
