@{
    ViewData["Title"] = "Requisitos de Ingreso";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Imagen centrada -->
            <img src="/images/felicidad.jpg" class="img-fluid rounded shadow custom-img-size d-block mx-auto" alt="Requisitos de Ingreso">
        </div>
    </div>

    <div class="row align-items-center mt-5">
        <div class="col-12">
            <h2 class="fw-bold text-center" style="color: #BAD535;">Requisitos de Ingreso para Adultos Mayores</h2>
            <p class="text-center" style="color: #4A4A42;">
                Para garantizar un ambiente adecuado y el bienestar de nuestros residentes, es importante que los interesados aporten los siguientes requisitos para valorar el ingreso:
            </p>
        </div>
    </div>

    <!-- Lista de requisitos dividida en dos secciones -->
    <div class="row mt-4">
        <!-- Primera sección -->
        <div class="col-md-6">
            <h4 style="color: #BAD535;">Requisitos:</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-file-signature me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Carta de solicitud de ingreso.
                </li>
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-birthday-cake me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Ser mayor de 65 años.
                </li>
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-notes-medical me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Dictamen médico.
                </li>
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-pills me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Lista de medicamentos que utiliza.
                </li>
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-home me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Certificación de bienes inmuebles.
                </li>
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-id-card me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Una foto tamaño pasaporte.
                </li>
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-shield-alt me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Hoja de delincuencia.
                </li>
          
            </ul>
        </div>

        <!-- Segunda sección -->
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-certificate me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Certificado de pensión.
                </li>
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-id-card-alt me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Copia de la cédula del adulto(a) mayor.
                </li>
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-user me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Copia de la cédula de la persona responsable.
                </li>
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-syringe me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Fotocopia del carnet de vacunación con el esquema completo de COVID-19.
                </li>
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-chart-line me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Certificación de línea de pobreza emitida por el IMAS.
                </li>
                <li class="list-group-item" style="color: #4A4A42;">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-flask me-3" style="color: #BAD535; font-size: 20px;"></i>
                        Exámenes de laboratorio:
                    </div>
                    <ul class="mt-2 ms-5">
                        <li class="d-flex align-items-center">
                            <i class="fas fa-vial me-3" style="color: #BAD535; font-size: 18px;"></i>
                            Hemograma
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="fas fa-flask me-3" style="color: #BAD535; font-size: 18px;"></i>
                            Examen general de orina
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="fas fa-chart-line me-3" style="color: #BAD535; font-size: 18px;"></i>
                            Glicemia
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="fas fa-filter me-3" style="color: #BAD535; font-size: 18px;"></i>
                            Función renal
                        </li>
                        <li class="d-flex align-items-center">
                            <i class="fas fa-vial me-3" style="color: #BAD535; font-size: 18px;"></i>
                            Función hepática
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- Información adicional -->
    <div class="row mt-4">
        <div class="col-12 text-center">
            <p style="color: #4A4A42;">
                Para más información o enviar tu solicitud, contáctanos al correo:
                <a href="mailto:hogarjafethjimenez@gmail.com" class="text-decoration-none" style="color: #BAD535;">
                    hogarjafethjimenez@gmail.com
                </a>
              
            </p>
            <strong>  La documentación también puede ser entregada de forma presencial en nuestras instalaciones</strong>
            <p style="color: #4A4A42;">¡Esperamos contar contigo!</p>
        </div>
    </div>
</div>

<style>
    .list-group-item {
        border: none;
    }

        .list-group-item i {
            font-size: 20px;
        }

        .list-group-item ul {
            list-style: none;
            padding-left: 1em;
            margin-top: 0.5em;
        }

            .list-group-item ul li {
                padding-left: 0.5em;
            }
</style>
