@{
    ViewData["Title"] = "Voluntariado";
}

<div class="container my-5">
    <div class="row align-items-center" style="margin-bottom:15%">
        <div class="col-md-6">
            <img src="/images/Vol2.jpg" class="img-fluid rounded shadow custom-img-size" alt="Voluntariado">
        </div>
        <div style="margin-top:5%; margin-bottom:5%" class="col-md-6">
            <h2 class="fw-bold" style="color: #BAD535;">Únete a Nuestro Programa de Voluntariado</h2>
            <p style="color: #4A4A42;">
                ¡Forma parte de una iniciativa que transforma vidas! Contribuye al bienestar de los adultos mayores
                y ayuda a construir una comunidad más fuerte.
            </p>
            <h4 style="color: #BAD535;">Requisitos:</h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-user-check me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Ser mayor de 18 años.
                </li>
         
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-hand-holding-heart me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Compromiso con los valores de respeto y empatía.
                </li>
        
                <li class="list-group-item d-flex align-items-center" style="color: #4A4A42;">
                    <i class="fas fa-id-card me-3" style="color: #BAD535; font-size: 20px;"></i>
                    Presentar una identificación oficial vigente.
                </li>
            </ul>
            <p class="mt-4" style="color: #4A4A42;">
                Envía la documentación necesaria al correo:
                <a href="mailto:hogarjafethjimenez@gmail.com" class="text-decoration-none" style="color: #BAD535;">
                    hogarjafethjimenez@gmail.com
                </a>
            </p>
            <p style="color: #4A4A42;">¡Esperamos contar contigo!</p>
        </div>
    </div>
</div>

<style>
  

    .list-group-item {
        border: none; /* Elimina los bordes de los ítems */
    }

        .list-group-item i {
            font-size: 20px; /* Ajusta el tamaño del ícono */
        }
</style>
